* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

nav {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.jumbotron {
  margin: 15px 0px 0px 0px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.463),
      rgba(125, 250, 250, 0.45)),
    url(../images/nimble-made-NS2BZsGxOLE-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white !important;
  width: 100%;
  height: 340px;
  margin-bottom: 10px;
}

#produk {
  margin-top: 150px;
}

#myCarousel {
  margin-top: 50px;
}

.carousel-inner {
  padding: 1em;
}

.card {
  margin: 0.5em;
}

.page-section {
  padding: 8rem 0;
}